
@import url('https://fonts.googleapis.com/css2?family=Rosario:ital,wght@1,600;1,700&display=swap');



body{
    margin: 0% auto;
}
.header{
    width: 100%;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    
}
.logo{
    text-decoration: none;
    background-color: #FFFCFC;
}
.header_text{
    background-color: black;
    color: #FFFCFC;
    width: 100%;
    padding-top: 2.5%;
    text-align: end;
    box-sizing: border-box
}
.header_text a{
    text-decoration: none;
    color: #FFFCFC;
    font-family: 'Rosario';
    font-style: italic;
    font-weight: 700;
    font-size: 36px;
    margin: 0% 1%;
}

/* secti0n 1 !*/
.wan_img{
    display: flex;
    margin-top: 12%;
    width: 50%;
}
.wan_img_boy{
    animation: animationboy 2s linear;
    position: relative;
}
@-webkit-keyframes animationboy{
    from{
        transform: translateX(-100vw);  
        transition-duration: 2s; 
    }
    to{
        transform: translateX(1vw); 
    }
}
@-webkit-keyframes animationright{
    from{
        transform: translateX(100vw);  
        transition-duration: 2s; 
    }
    to{
        transform: translateX(1vw); 
    }
}
.wan_img ul{
    list-style-type: none;
    animation: animationboy 1s linear;
    margin-left: -1.5%;
    
}
.wan_img ul li{
    padding-bottom: 5%;
    box-sizing: border-box;
}
.wan_img ul li img{
    width: 100%;
}
.wan_img_boy{
    margin-top: 7%;
    width: 70%;
    height: 70%;
    margin-left: 3%;
    
}
.wrapper_img{
    display: flex;
}
.two_img{
    display: flex;
    margin-top: 12%;
    width: 50%;
}
    .two_img ul{
        list-style-type: none;
        animation: animationright 1s linear;
    }
    .two_img ul li{
        padding-bottom: 5%;
        box-sizing: border-box;
    }
    .two_img ul li img{
        width: 100%;
    }
    .wan_img_boy_2{
        margin-top: 7%;
        width: 70%;
        height: 70%;
        margin-left: 3%;
        animation: animationright 2s linear;
    }

    /*section 2 */
    .section_2{
        margin-top: 10%;
    }
    .section_2_wrapper{
        display: flex;
        justify-content: space-between;
    }
    .section_2_fotohand{
        font-family: 'Rosario';
        font-style: italic;
        font-weight: 700;
        font-size: 48px;  
        width: 51%;  
    }
    .section_2_fotohand_wan{
        display: flex;
        justify-content: space-between;
        margin: 0% 5%;
    }
    .fotohand_1 img{
        width: 100%;
    }
    
    .fotohand_2 img{
        width: 100%;
    }
    .fotohand_3 img{
        width: 100%;
    }
    .fotohand_4 img{
        width: 100%;
    }
    .fotohand_1 p{
        margin: 0% 15%;
    }
    .fotohand_2 p{
        margin:0% 5%;
    }
    
    .section_2_fotohand_two{
        display: flex;
        justify-content: space-between;
        margin: 5% 5%;
    }
    .fotohand_3 p{
        margin: 0% 5%;
    }
    .fotohand_4 p{
        margin: 0%;
    }
    .fotohand_1{
        animation: animationhand_1 5s linear infinite;
    }
    @-webkit-keyframes animationhand_1{
        from,to 
        { 
            top: 0;
            right: 0;
        }  
        20%{
            transform: translateX(23vw);
        }
        40%{
            transform: translate(23vw,30vw);  
        }
        80%{
            transform: translateY(30vw); 
        }
    }
    .fotohand_2{
        animation:animationhand_2 5s linear infinite ;
    }
    @-webkit-keyframes animationhand_2{
        from,to 
        { 
            top: 0;
            right: 0;
        }  
        20%{
            transform: translateY(30vw);
        }
        40%{
            transform: translate(-23vw,30vw);  
        }
        80%{
            transform: translateX(-23vw); 
        }
    }
    .fotohand_3{
        animation:animationhand_3 5s linear infinite ;
    }
    @-webkit-keyframes animationhand_3{
        from,to 
        { 
            top: 0;
            right: 0;
        }  
        20%{
            transform: translateY(-30vw);
        }
        40%{
            transform: translate(23vw,-30vw);  
        }
        80%{
            transform: translateX(23vw); 
        }
    }
    .fotohand_4{
        animation:animationhand_4 5s linear infinite ;
    }
    @-webkit-keyframes animationhand_4{
        from,to 
        { 
            top: 0;
            right: 0;
        }  
        20%{
            transform: translateX(-23vw);
        }
        40%{
            transform: translate(-23vw,-30vw);  
        }
        80%{
            transform: translateY(-30vw); 
        }
    }
    .section_2_fototool{
        width: 49%;
    }
    .section_2_fototool img{
        width: 100%;
    }

    /*section 3 */
    .section_3_header{
        font-family: 'Rosario';
        font-style: normal;
        font-weight: 700;
        font-size: 96px;
        text-align: center;
        margin-top: 5%;
    }
    .section_3_wrapper{
        display: flex;
        justify-content: space-evenly;
        margin: 3% 0%;
    }
    .section_3_920{
        display: flex;
    }
    .section_3_920_2{
        display: flex;
    }
    .section_3_text{
        display: flex;
        position: relative;
        left: 7.8%;
        top: -27%;
        width: 85.5%;
        height: 20%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: rgba(163, 83, 10, 0.7);
        border-radius: 0 0 40px 40px;
        font-family: 'Volkhov';
        font-style: normal;
        font-weight: 400;
        font-size: 48px;  
        color: #E5E5E5; 
        opacity: 0; 
    }
    .img_text1 img{
        width: 85%;
        margin-left: 8%;
    }
    .img_text1:hover .section_3_text{
        display: flex;
        opacity: 1;
    }
    .section_3_wrapper:hover img{
        filter: brightness(0.5);
    }
    .img_text1:hover img{
        filter: brightness(1) !important;
    }
    .section_4_wrapper{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        margin-top: 0%;
        
        
    }
    .section_4_header{
        width: 40%;
        font-family: 'Rosario';
        font-style: italic;
        font-weight: 700;
        font-size: 64px;
        margin-left: 13%;
        display: block;
        margin-top: 5%;
    }
    .section_4_tabl{
        width: 50%;
        margin-top: 3%;
        margin-right: 0%;
        overflow:hidden;
        box-sizing: border-box;
    }
    .section_4_tabl input{
        border: 25px solid #E5E5E5;
        margin-left: -1%;
        font-family: 'Rosario';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        width: 50.5%;
        box-sizing: border-box;
        overflow:hidden;
    }
    .section_4_tabl textarea{
        font-family: 'Rosario';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        border: 25px solid #E5E5E5;
        margin-top: -16px;
        margin-left: -0.5%;
        width: 100%;
        box-sizing: border-box;
    }
    .section_4_map{
        margin-top: -8%;
    }

    .footer_1_block_1{
        font-family: 'Rosario';
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 36px;
        text-align: center;
    }
    .footer_1_block_1 a{
        text-decoration: none;
        color: black;
    }
    .footer_1_block_2{
        font-family: 'Rosario';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        text-align: center;
    }
    .footer_1_block_3{
        font-family: 'Rosario';
        font-style: normal;
        font-weight: 600;
        font-size: 30px;
        text-align: center;
    }
    .footer_1_block_3 a{
        text-decoration: none;
        color: black;
    }

    .footer_1{
        display: flex;
        justify-content: space-evenly;
        margin-top: 10%;
    }


    @media screen and (max-width:992px) {
        .header_text a{
            font-size: 24px;
            text-align: center;
        }
        .header_text{
            text-align: center;
        }
        .wrapper_img{
            margin-top: 5%;
        }
        .wan_img ul{
            display: block;
            position: relative;
            top: -41%;
            
        }
        .wan_img{
            display: block;
        }
        .two_img{
            display: block;
        }
        .wan_img_boy{
            top: 58%;
            height: 38%;
            left: 10%;
        }
        .wan_img_boy_2{
            height: 38%;
        }
        .section_2_wrapper{
            display: flex;
            flex-flow: wrap;
        }
        .section_2_fototool{
            order: 1;
            position: relative;
            left: 25%;
            margin-bottom: 10%;
        }
        .section_2_fotohand{
            width: 100%;
            text-align: center;
            order: 2;
        }
        .fotohand_1 img{
            width: 50%;
        }
        
        .fotohand_2 img{
            width: 50%;
        }
        .fotohand_3 img{
            width: 50%;
        }
        .fotohand_4 img{
            width: 50%;
        }
        .section_2_fotohand_two{
            margin: 0% 5%;
        }
        @-webkit-keyframes animationhand_1{
            from,to 
            { 
                top: 0;
                right: 23;
            }  
            20%{
                transform: translateX(46vw);
            }
            40%{
                transform: translate(46vw,30vw);  
            }
            80%{
                transform: translateY(30vw); 
            }
        }
        .fotohand_2{
            animation:animationhand_2 5s linear infinite ;
        }
        @-webkit-keyframes animationhand_2{
            from,to 
            { 
                top: 0;
                right: 23;
            }  
            20%{
                transform: translateY(30vw);
            }
            40%{
                transform: translate(-46vw,30vw);  
            }
            80%{
                transform: translateX(-46vw); 
            }
        }
        .fotohand_3{
            animation:animationhand_3 5s linear infinite ;
        }
        @-webkit-keyframes animationhand_3{
            from,to 
            { 
                top: 0;
                right: 23;
            }  
            20%{
                transform: translateY(-30vw);
            }
            40%{
                transform: translate(46vw,-30vw);  
            }
            80%{
                transform: translateX(46vw); 
            }
        }
        .fotohand_4{
            animation:animationhand_4 5s linear infinite ;
        }
        @-webkit-keyframes animationhand_4{
            from,to 
            { 
                top: 0;
                right: 23;
            }  
            20%{
                transform: translateX(-46vw);
            }
            40%{
                transform: translate(-46vw,-30vw);  
            }
            80%{
                transform: translateY(-30vw); 
            }
        }
        .section_3_wrapper{
            display: block;
            text-align: center;
        }
        .img_text1 img{
            width: 50%;
            margin-bottom: 0%;
        }
        .section_3_text{
            display: flex;
            position: relative;
            left: 28.8%;
            top: -29%;
            width: 50%;
            height: 20%;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background: rgba(163, 83, 10, 0.7);
            border-radius: 0 0 20px 20px;
            font-family: 'Volkhov';
            font-style: normal;
            font-weight: 400;
            font-size: 36px;  
            color: #E5E5E5; 
            opacity: 0; 
            transition: 2s;
        }
        .section_3_wrapper:hover img{
            filter: brightness(0.5);
        }
        .img_text1:hover img{
            filter: brightness(1) !important;
        }
        
        .section_4{
            display: flex;
            flex-flow: wrap;
            margin-left: 5%;
        }
        .section_4_header{
            width: 100%;
            margin-left: 0%;
            margin-top: 0%;
            margin-bottom: 5%;
        }
        .section_4_map {
            margin-top: 0%;
        }
        .section_4_wrapper{
            margin-right: 5%;
        }
        .section_4_tabl{
            width: 100%;
            margin: 0;
            order: 2;
        }
        .section_4_wrapper{
            display: block;
        }
        .footer_1{
            order: 1;
        }
    }
    @media screen and (max-width:768px){
        .header{
            height: 7%;
        }
        .logo img{
            width: 100%;
            height: 100%;
        }
        .wrapper_img{
            display: block;
            text-align: center;
        }
        .wan_img_boy{
            left: 55%;
        }
        .wan_img ul{
            left: 55%;
            animation: animationright 2s linear;
        }
        .two_img{
            margin-top: 0%;
            margin-left: 27%;
        }
        .two_img ul{
            left: 55%;
            animation: animationboy 2s linear;
            
        }
        .section_2_fototool{
            display: none;
        }
        .section_3_920{
            display: block;
        }
        .section_3_text{
            margin-top: -6%;
            border-radius: 0 0 50px 50px;
        }
        .section_3_920_2{
            display: block;
        }
        .footer_1{
            display: block;
        }
    }